<footer class="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <div class="footer-logo-soc-container">
        <a href="index.html" class="footer-logo-link">
          <svg class="footer-logo-icon" width="202" height="63">
            <use
              class="footer-main-logo"
              href="/images/icons.svg#company-logo"
            ></use>
          </svg>
        </a>
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-svg" width="32" height="32">
                <use href="/images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-svg" width="32" height="32">
                <use href="/images/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              href="https://x.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-svg" width="32" height="32">
                <use href="/images/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-svg" width="32" height="32">
                <use href="/images/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              href="https://www.youtube.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-svg" width="32" height="32">
                <use href="/images/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#aboutus" class="footer-nav-link">About us</a>
          </li>
          <li class="footer-nav-item">
            <a href="#benefits" class="footer-nav-link">Benefits</a>
          </li>
          <li class="footer-nav-item">
            <a href="#gallery" class="footer-nav-link">Gallery</a>
          </li>
          <li class="footer-nav-item">
            <a href="#testimonials" class="footer-nav-link">Testimonials</a>
          </li>
          <li class="footer-nav-item">
            <a href="#contacts" class="footer-nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="copypaste-container">
      <p class="copypaste-text">
        &copy; 2025 Handmade Jewelry. All rights reserved.
      </p>
    </div>
  </div>
</footer>
