<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <div class="wrapper-text">
      <h2 class="gallery-title">Jewelry Showcase</h2>
      <p class="gallery-paragraph">
        Discover the beauty of our handcrafted jewelry in style.
      </p>
    </div>
    <ul class="gallery-block">
      <li class="wrapper-left">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/gallery/gallery-1-desktop.jpg    1x,
              /images/gallery/gallery-1-desktop@2x.jpg 2x
            "
            src="/images/gallery/gallery-1-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/gallery/gallery-1-tab.jpg    1x,
              /images/gallery/gallery-1-tab@2x.jpg 2x
            "
            src="/images/gallery/gallery-1-tab.jpg"
          />
          <img
            src="/images/gallery/gallery-1-mob.jpg"
            srcset="
              /images/gallery/gallery-1-mob.jpg    1x,
              /images/gallery/gallery-1-mob@2x.jpg 2x
            "
            alt="purple-bracelet"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/gallery/gallery-2-desktop.jpg    1x,
              /images/gallery/gallery-2-desktop@2x.jpg 2x
            "
            src="/images/gallery/gallery-2-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/gallery/gallery-2-tab.jpg    1x,
              /images/gallery/gallery-2-tab@2x.jpg 2x
            "
            src="/images/gallery/gallery-2-tab.jpg"
          />
          <img
            src="/images/gallery/gallery-2-mob.jpg"
            srcset="
              /images/gallery/gallery-2-mob.jpg    1x,
              /images/gallery/gallery-2-mob@2x.jpg 2x
            "
            alt="bracelet-on-the-hand"
          />
        </picture>
      </li>
      <li class="wrapper-right">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/gallery/gallery-3-desktop.jpg    1x,
              /images/gallery/gallery-3-desktop@2x.jpg 2x
            "
            src="/images/gallery/gallery-3-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/gallery/gallery-3-tab.jpg    1x,
              /images/gallery/gallery-3-tab@2x.jpg 2x
            "
            src="/images/gallery/gallery-3-tab.jpg"
          />
          <img
            src="/images/gallery/gallery-3-mob.jpg"
            srcset="
              /images/gallery/gallery-3-mob.jpg    1x,
              /images/gallery/gallery-3-mob@2x.jpg 2x
            "
            alt="amulet"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/gallery/gallery-4-desktop.jpg    1x,
              /images/gallery/gallery-4-desktop@2x.jpg 2x
            "
            src="/images/gallery/gallery-4-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/gallery/gallery-4-tab.jpg    1x,
              /images/gallery/gallery-4-tab@2x.jpg 2x
            "
            src="/images/gallery/gallery-4-tab.jpg"
          />
          <img
            src="/images/gallery/gallery-4-mob.jpg"
            srcset="
              /images/gallery/gallery-4-mob.jpg    1x,
              /images/gallery/gallery-4-mob@2x.jpg 2x
            "
            alt="brooch"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
