<header class="header">
  <div class="container header-container">
    <div class="footer-logo-nav-thumb">
      <a href="index.html" class="logo-link">
        <svg class="logo-icon" width="160" height="68">
          <use href="/images/icons.svg#company-logo"></use>
        </svg>
      </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="#aboutus" class="header-nav-link">About us</a>
          </li>
          <li class="header-nav-item">
            <a href="#benefits" class="header-nav-link">Benefits</a>
          </li>
          <li class="header-nav-item">
            <a href="#gallery" class="header-nav-link">Gallery</a>
          </li>
          <li class="header-nav-item">
            <a href="#testimonials" class="header-nav-link">Testimonials</a>
          </li>
          <li class="header-nav-item">
            <a href="#contacts" class="header-nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <load src="/partials/ui/button.html" class="header-order-btn" />
    <button type="button" class="open-burger-btn">
      <svg class="open-burger-icon" width="24" height="24">
        <use href="/images/icons.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
