<section class="testimonials-section">
    <div class="container testimonials-container">
        <div class="testimonials-thumb">
            <h2 id="testimonials" class="section-title">Customer testimonials</h2>
            <p class="section-text">Absolutely love my new earrings! They are stunning.</p>
        </div>
        <ul class="testimonials-list">
            <li class="testimonials-item">
                <picture>
                    <source media="(min-width: 1440px)"
                    srcset="/images/testimonials/testimonials-1-desktop.jpg 1x, /images/testimonials/testimonials-1-desktop@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                    srcset="/images/testimonials/testimonials-1-tab.jpg 1x, /images/testimonials/testimonials-1-tab@2x.jpg 2x">
                    <img class="testimonials-image"
                    srcset="/images/testimonials/testimonials-1-mob.jpg 1x, /images/testimonials/testimonials-1-mob@2x.jpg 2x"
                    src="/images/testimonials/testimonials-1-mob.jpg" 
                    alt="woman-with-earring">
                </picture>
            </li>
            <li class="testimonials-item">
                <picture> 
                    <source media="(min-width: 1440px)"
                    srcset="/images/testimonials/testimonials-2-desktop.jpg 1x, /images/testimonials/testimonials-2-desktop@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                    srcset="/images/testimonials/testimonials-2-tab.jpg 1x, /images/testimonials/testimonials-2-tab@2x.jpg 2x">
                    <img class="testimonials-image"
                    srcset="/images/testimonials/testimonials-2-mob.jpg 1x, /images/testimonials/testimonials-2-mob@2x.jpg 2x"
                    src="/images/testimonials/testimonials-2-mob.jpg"
                    alt="man-with-necklace">
                </picture>
            </li>
            <li class="testimonials-item">
                <div class="testimonials-feedback">
                    <div class="testimonials-text-icons">
                        <div class="testimonials-icons-together">
                        <svg class="testimonials-icon" width="24" height="24">
                            <use href="/images/icons.svg#star-filled"></use>
                        </svg>
                        <svg class="testimonials-icon" width="24" height="24">
                            <use href="/images/icons.svg#star-filled"></use>
                        </svg>
                        <svg class="testimonials-icon" width="24" height="24">
                            <use href="/images/icons.svg#star-filled"></use>
                        </svg>
                        <svg class="testimonials-icon" width="24" height="24">
                            <use href="/images/icons.svg#star-filled"></use>
                        </svg>
                        <svg class="testimonials-icon" width="24" height="24" fill="none" stroke="black">
                            <use href="/images/icons.svg#star-empty"></use>
                        </svg>
                    </div>
                    <p class="testimonials-feedback-text">"Each piece tells a story, and I love mine!"</p>
                    </div>
                    <p class="testimonials-feedback-name">Thomas Mans</p>
                </div>
            </li>
            <li class="testimonials-item">
                <div class="testimonials-feedback">
                    <div class="testimonials-text-icons"> 
                    <div class="testimonials-icons-together">
                        <svg class="testimonials-icon" width="24" height="24">
                            <use href="/images/icons.svg#star-filled"></use>
                        </svg>
                        <svg class="testimonials-icon" width="24" height="24">
                            <use href="/images/icons.svg#star-filled"></use>
                        </svg>
                        <svg class="testimonials-icon" width="24" height="24">
                            <use href="/images/icons.svg#star-filled"></use>
                        </svg>
                        <svg class="testimonials-icon" width="24" height="24">
                            <use href="/images/icons.svg#star-filled"></use>
                        </svg>
                        <svg class="testimonials-icon" width="24" height="24">
                            <use href="/images/icons.svg#star-filled"></use>
                        </svg>
                    </div>
                    <p class="testimonials-feedback-text">"The craftsmanship is exquisite, and I feel unique wearing it."</p>
                    </div>
                    <p class="testimonials-feedback-name">Jane Edison</p>
                </div>
            </li>
            <li class="testimonials-item">
                <picture>
                    <source media="(min-width: 1440px)"
                    srcset="/images/testimonials/testimonials-3-desktop.jpg 1x, /images/testimonials/testimonials-3-desktop@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                    srcset="/images/testimonials/testimonials-3-tab.jpg 1x, /images/testimonials/testimonials-3-tab@2x.jpg 2x">
                    <img class="testimonials-image"
                    srcset="/images/testimonials/testimonials-3-mob.jpg 1x, /images/testimonials/testimonials-3-mob@2x.jpg 2x"
                    src="/images/testimonials/testimonials-3-mob.jpg" 
                    alt="coffee-and-bracelet">
                </picture>
            </li>
            <li class="testimonials-item">
                <picture>
                    <source media="min-width: 1440px"
                    srcset="/images/testimonials/testimonials-4-desktop.jpg 1x, /images/testimonials/testimonials-4-desktop@2x.jpg 2x">
                    <source media="min-width: 768px"
                    srcset="/images/testimonials/testimonials-4-tab.jpg 1x, /images/testimonials/testimonials-4-tab@2x.jpg 2x">
                    <img class="testimonials-image"
                    srcset="/images/testimonials/testimonials-4-mob.jpg 1x, /images/testimonials/testimonials-4-mob@2x.jpg 2x"
                    src="/images/testimonials/testimonials-4-mob.jpg" 
                    alt="hands-and-ring">
                </picture>
            </li>
        </ul>
    </div>
</section>