.about {
  padding-top: 56px;
  padding-bottom: 56px;
  
  @media (min-width: 768px) {
    padding-top: 112px;
    padding-bottom: 112px;
    min-width: unset;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  
  @media (min-width: 1440px) {
    flex-direction: row;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.about-media {
 flex-shrink: 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.about-title {
  font-family: 'Sora', sans-serif;
  font-size: 36px;
  line-height: 1.2;

  @media (min-width: 768px) {
    letter-spacing: -0.01em;
  }
  
  @media (min-width: 1440px) {
    font-size: 48px;
  }
}

.about-text {
  font-size: 18px;
}

.about-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.about-item {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.about-item:nth-child(1):before {
  content: url('/images/about-us/leaf.svg');
  display: block;
  width: 24px;
  height: 24px;
}

.about-item:nth-child(2):before {
  content: url('/images/about-us/heart.svg');
  display: block;
  width: 24px;
  height: 24px;
}

.about-item:nth-child(3):before {
  content: url('/images/about-us/book.svg');
  display: block;
  width: 24px;
  height: 24px;
}
