.benefits-section {
  padding: 64px 0px;
}

.benefits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.benefits-title {
  max-width: 335px;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 704px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 870px;
    font-size: 40px;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.benefits-item {
  padding: 32px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 335px;
  background-color: rgb(242, 242, 242);
  display: flex;
  gap: 24px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    width: 704px;
  }

  @media screen and (min-width: 1440px) {
    width: 416px;
  }
}

.benefits-subtitle {
  font-family: 'Sora', sans-serif;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
}

.benefits-text {
  text-align: center;
}
