.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-nav-thumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48.5px;
  
  @media screen and (min-width: 1440px) {
    column-gap: 32px;
  }
}
.logo-link {
  @media screen and (min-width: 768px) {
    width: 84px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo-icon {
  @media screen and (min-width: 768px) {
    width: 79px;
    height: 25px;
  }
}

.header-nav-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    column-gap: 16px;
  }
  
  @media screen and (min-width: 1440px) {
    column-gap: 32px;
  }
}
.header-nav-item {
  display: flex;
}
.header-nav-link {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link:hover,
.header-nav-link:focus {
  @media screen and (min-width: 1440px) {
    text-decoration: underline;
  }
}
.header-nav-link:active {
  color: #8668c7;
}

.header-order-btn {
  display: none;
  
  @media screen and (min-width: 768px) {
    display: flex;
    width: 119px;
  }
  
  @media screen and (min-width: 1440px) {
    width: 192px;
  }
}

.open-burger-btn {
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  @media screen and (min-width: 768px) {
    display: none;
  }
}
